.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 5rem;
    width: 100%;
    background-color: rgba(64, 179, 233, 0.705) ;
    margin: 0;
}
.nav-bar-items{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width:100%;
    list-style: none;
    margin: 0;
}
p{
    margin: 0;
}
li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.2em;
}
.logo{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration:underline;
    color: rgb(44, 106, 148);
}
